---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Mi blog de Astro aprendizaje</h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  </main>
</Layout>
