---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Mi blog de Astro aprendizaje">
  <main>
    <h1>Mi blog de Astro aprendizaje</h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
      <li><a href="/posts/post-1/">publicación 1</a></li>
      <li><a href="/posts/post-2/">publicación 2</a></li>
      <li><a href="/posts/post-3/">publicación 3</a></li>
    </ul>
  </main>
</Layout>
