---
import Layout from '../layouts/Layout.astro'
---
<Layout title='Mi primer blog' description='En este proyecto aprendo como construir una sitio web con Astro. Además estare implementado un landing page como blog. Espero que este proyecto lesguste.'>
	<main>
		<h1>Mi primer blog</h1>
	</main>
</Layout>